*{
    
    width: 0;
    height: 0;
    box-sizing: border-box;
}

/*le damos un padding a todo el cuerpo de la pagina*/
body{
    
    /*font-family: "Comic Sans Ms", cursive, sans-serif !important;*/
    /*background-color: #3e3e3e;*/
}

/*le damos un borde a la barra de navegacion */
/*.navbar{
    
    background-color: #044a04;
    margin: 10px 0 20px 0;
    padding: 10px;
    background: linear-gradient(to bottom right, rgba(193, 216, 17, 0.8), #020258, #d91e1e);
    
}*/

/*le damos un borde a la barra de navegacion */
footer{
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}

.welcome{
    
    background-color: white;
    padding: 20px;
}

.home{
    
    background-color: white;
    padding: 20px;
}

.u1{
    
    background-color: white;
    padding: 20px;
}

.u2{
    
    background-color: white;
    padding: 20px;
}

.u3{
    
    background-color: white;
    padding: 20px;
}

.u4{
    
    background-color: white;
    padding: 20px;
}

.u5{
    
    background-color: white;
    padding: 20px;
}

.u6{
    
    background-color: white;
    padding: 20px;
}

.contact{
    
    background-color: white;
    padding: 20px;
}

.maps{
    
    background-color: white;
    padding: 20px;
}

.panel{
    
    background-color: #16a316;
    margin: 4px 4px 4px 4px;
    border: solid 1px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

button{
    
    border: solid 1px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.btn-md{
    
    color: black;
    background-color: #fff;
    border-color: #000;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 45px 45px 45px 45px;
}

iframe{
    
    width: 90%;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    resize: vertical;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: transparent;
    font-size: 2em;
}

a {
    color: black;
    text-decoration: none;
    background-color: none;
}

textarea {
    margin: 0;
    font-family: none;
    font-size: none;
    line-height: inherit;
    width: 95%;
}

.plus{
    
    color: black;
    background-color: #fff;
    border-color: #fff;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 45px 45px 45px 45px;
    margin: 45px 0 0 5px;
}

.content-logo{
    
    width: 100px;
    height: 100px;
}

.content-logo img{
    
    width: 100%;
    height: 100%;
}