<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
        <link rel="stylesheet" href="main.css">
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

        <title>Datos del senado</title>
    </head>
    
    <body>
       
       <div class="container-fluid" id="senate">
           
           <header>
            
            <div class="row clearfix">
                
                <div class="col-10 float-left">
                   
                   <h3> <img src="logo_tgif.png" alt="logo" width="5%"> TGIF Logo</h3>
                    
                </div>
                
                <div class="col-2 float-right row align-items-center">
                   
                   <h4><a href="mailto:info@tgif.net"> <i class="far fa-envelope"></i> info@tgif.net</a></h4>
                    
                </div>
                
            </div>
            
            <nav class="navbar navbar-expand-sm bg-light">
            
                    <ul class="navbar-nav">

                               <li class="li nav-item"><a href="index.html" class="nav-link">Home</a></li>

                               <li class="li nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Congress 113</a>

                               <div class="dropdown-menu">

                                   <a href="house-data.html" class="dropdown-item">House</a>

                                   <a href="senate-data.html" class="dropdown-item">Senate</a>

                               </div>

                               </li>
                               
                               <li class="li nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Attendance</a>

                               <div class="dropdown-menu">

                                   <a href="house-attendance.html" class="dropdown-item">House</a>

                                   <a href="senate-attendance.html" class="dropdown-item">Senate</a>

                               </div>

                               </li>
                               
                               <li class="li nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Party Loyalty</a>

                               <div class="dropdown-menu">

                                   <a href="house-loyalty.html" class="dropdown-item">House</a>

                                   <a href="senate-loyalty.html" class="dropdown-item">Senate</a>

                               </div>

                               </li>

                           </ul> 

                </nav>
            
        </header>
        
        <section class="row">
            
            <div class="col-md-6">
                
                <h2>Party Loyalty</h2>
                
                <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda.</p>
                
            </div>
            
            <div class="col-md-6">
                
                <h2>Senate at a glance</h2>
                
                <table class="table table-bordered table-hover" >
                    
                        <tr>
                        <th>Party</th>
                        <th>No. of Reps</th>
                        <th>% voted w/party</th>
                        </tr>
                        <tr><td>Democrats</td><td>{{numDemocrats}}</td><td>{{votesDemocrats}}</td></tr>
                        <tr><td>Republicans</td><td>{{numRepublicans}}</td><td>{{votesRepublicans}}</td></tr>
                        <tr><td>Independents</td><td>{{numIndependents}}</td><td>{{votesIndependents}}</td></tr>
                        <tr>
                        <td>Total</td><td>{{totalMembers}}</td><td>{{totalVotes}}
                        </td>
                        </tr>
                    
                </table>
                
            </div>
            
        </section>
        
        <section class="row">
            
            <div class="col-md-6">
                
               <h2>Least Loyal (Bottom 10% of Party)</h2>
               
               <div style="width: 100%; height: 300px; overflow-y: scroll;" >
                   
                   <table class="table table-bordered table-hover">
                       
                       <tr v-for="member in loyalLeast()">
                           
                           <td v-if="member.url == ''">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</td>
                        
                            <td v-else><a :href="member.url">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                            
                            <td>{{member.total_votes}}</td>
                            
                            <td>{{member.votes_with_party_pct}}</td>
                           
                       </tr>
                       
                   </table>
                   
               </div>
               
            </div>
               
            <div class="col-md-6">
                
               <h2>Most Loyal (Top 10% of Party)</h2>
               
               <div style="width: 100%; height: 300px; overflow-y: scroll;" >
                   
                   <table class="table table-bordered table-hover">
                       
                       <tr v-for="member in loyalMost()">
                           
                           <td v-if="member.url == ''">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</td>
                        
                            <td v-else><a :href="member.url">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                            
                            <td>{{member.total_votes}}</td>
                            
                            <td>{{member.votes_with_party_pct}}</td>
                           
                       </tr>
                       
                   </table>
                   
               </div>
                
            </div>
            
        </section>
        
        <footer class="text-center bg-light"> <i class="far fa-copyright"></i> 2016 TGIF | All Rights Reserved</footer>
           
       </div>
       
        <script src="vue.js"></script>
        
        <script type="text/javascript" src="congress-113-senate.js"></script>
        
        <script type="text/javascript" src="statistics.js"></script>
        
        <!--<script type="text/javascript" src="statisticsCalculate.js"></script>-->
        
        <script type="text/javascript" src="main.js"></script>
        
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        
        <script src="js/popper.min.js"></script>
        
        <script src="js/bootstrap.min.js"></script>
        
    </body>
    
</html>